.label-input-pair {
	text-align: left;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.label-input-pair > label, input {
	display: block;
}

.break {
	clear: both;
}

.delete {
	display: block;
	width: 42px;
}

#header {
	text-align: left;
	background-color: darkorange;
	box-shadow: 5px 8px #ececec;
	margin: 15px;
}

#signout {
	width: 32px;
	margin: 5px;
}

#heading1 {
	text-align: center;
	padding-bottom: 20px;
}

#container {
	padding: 44px;
	box-shadow: 5px 8px #ececec;
	border: 1px solid lightgrey;
	margin: 15px;
}

#budget-label {
	font-size: 11pt;
}

#heading2 {
	text-align: left;
	margin-top: 5px;
	margin-bottom: 25px;
}

#new-card {
	text-align: left;
	width: 150px;
}

#new-card > img {
	width: 40px;
	vertical-align: middle;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

input:disabled {
	background-color: #eeeeee
}

a {
  color: #00B7FF;
}